<!DOCTYPE html>
<html lang="en">
<head>
	<title>Chance Weasel</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="ext/bootstrap.min.css">
	<link rel="stylesheet" href="assets/style.css">
	<!-- <script src="cw.js"></script> -->
	<script src="ext/vue.js"></script>
	<script src="ext/jquery-3.5.1.min.js"></script>
	<script src="ext/lodash.js"></script>
	<script src="ext/popper.min.js"></script>
	<script src="ext/bootstrap.min.js"></script>
</head>

<body>
	<header class="header">
		<h1>La Belette de la Chance</h1>
	</header>
	<div id="cw">
		<div class="container-fluid upload-container">
			<div class="accordion" id="accordionExample">
				<div class="card">
					<div class="card-header" id="headingOne">
						<h2 class="mb-0">
							<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
								1. Participants
							</button>
						</h2>
					</div>
			
					<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
						<div class="card-body">
							<div class="input-group input-group-sm mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" id="inputGroupFile1">Chargement des participants</span>
								</div>
								<div class="custom-file">
									<input type="file" class="custom-file-input" id="participantsFile" aria-describedby="inputGroupFileAddon01" @change="onFileUpload">
									<label class="custom-file-label" for="participantsFile">{{fileName1}}</label>
								</div>
							</div>
							<div>
								<span>Nb de participations: </span><span>{{participants.length}}</span>
							</div>
							<div>
								<button type="button" class="btn btn-primary btn-sm" :disabled="participants.length == 0" v-on:click="createTickets()">Création du fichier des tickets</button>
							</div>
							<div v-show="tickets.length != 0">
								<span>Nb de tickets créés: </span><span>{{tickets.length}}</span>
							</div>
							<div v-show="tickets.length != 0">
								<button type="button" class="btn btn-success btn-sm" :disabled="tickets.length == 0" v-on:click="exportToCSV(tickets, 'Tickets', true)">Export du fichier des tickets</button>
							</div>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="headingTwo">
						<h2 class="mb-0">
							<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								2. Lots
							</button>
						</h2>
					</div>
					<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
						<div class="card-body">
							<div class="input-group input-group-sm mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" id="inputGroupFile2">Chargement des lots</span>
								</div>
								<div class="custom-file">
									<input type="file" class="custom-file-input" id="lotsFile" aria-describedby="inputGroupFile2" @change="onFileUpload">
									<label class="custom-file-label" for="lotsFile">{{fileName2}}</label>
								</div>
							</div>
							<div>
								<span>Nb de lignes du fichier: </span><span>{{lots.length}}</span>
							</div>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="headingThree">
						<h2 class="mb-0">
							<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								3. Tirage
							</button>
						</h2>
					</div>
					<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
						<div class="card-body">
							<div class="buttons">
								<button type="button" class="btn btn-danger btn-sm" :disabled="tickets.length == 0 || lots.length == 0" v-on:click="tirage()">Tirage</button>
								<button type="button" class="btn btn-success btn-sm" :disabled="winners.length == 0" v-on:click="exportToCSV(winners,'Gagnants', true)">Export du fichier des gagnants</button>
							</div>
							<div v-if="winners.length != 0">
								<table class="table table-hover">
									<thead>
										<tr>
											<th scope="col">#</th>
											<th scope="col">Lot</th>
											<th scope="col">Valeur</th>
											<th scope="col">ticketID</th>
											<th scope="col">Nom</th>
											<th scope="col">Prénom</th>
											<th scope="col">Adresse email</th>
											<th scope="col">Téléphone</th>
										</tr>
									</thead>
									<tbody>
										<tr v-for="(line) in winners" v-bind:key="line.IDlot" v-bind:title="line.Lot">
											<td class="text-left">{{line['IDlot']}}</td>
											<td class="text-left cell-lot">{{line['Lot']}}</td>
											<td class="text-left">{{line['Valeur']}}</td>
											<td class="text-left cell-non-wrap">{{line['ticketID']}}</td>
											<td class="text-left">{{line['Nom']}}</td>
											<td class="text-left">{{line['Prénom']}}</td>
											<td class="text-left">{{line['Adresse email']}}</td>
											<td class="text-left">{{line['Téléphone']}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script>
	var cw = new Vue({
		el: '#cw',
		data: {
			participants: [],
			nbMaxTickets: 0,
			tickets: [],
			lots: [],
			winners: [],
			tirages: [],
			fileName1: 'Choose file',
			fileName2: 'Choose file',
			message: 'Chance Weasel'
		},
		mounted() {
			String.prototype.replaceAt = function(index, replacement) {
    		if (index >= this.length) {
        	return this.valueOf()
    		}
 
    		return this.substring(0, index) + replacement + this.substring(index + 1)
			}
		},
		methods: {
			onFileUpload(p_event) {
				var files = p_event.target.files || p_event.dataTransfer.files
				if (!files.length) return
				if ( event.currentTarget.id == "participantsFile" ) this.createInput(files[0], 'participants', 'fileName1')
				if ( event.currentTarget.id == "lotsFile" ) this.createInput(files[0], 'lots', 'fileName2')
			},
			createInput(p_file, p_table, p_fileInput) {
				this[p_fileInput] = p_file.name
				let promise = new Promise((resolve, reject) => {

					var reader = new FileReader();
					var vm = this;
					reader.onload = e => {
						resolve((vm.fileinput = reader.result));
					}
					reader.readAsText(p_file)
				})

				promise.then(
					result => {
						this.parseFile(this.fileinput, p_table)
					},
					error => {
						console.log(error)
					}
				)
			},
			parseFile(p_csv, p_table) {
				// debugger
				
				// Tranformation Header du fichier participants
				let mailOldVal1 = '"Champ complémentaire 1\r\nAdresse email"'
				let mailOldVal2 = '"Champ complémentaire 2\r\nAdresse email"'
				let telOldVal1 = '"Champ complémentaire 1\r\nNuméro de téléphone"'
				let telOldVal2 = '"Champ complémentaire 2\r\nNuméro de téléphone"'

				let mailNewVal = 'Adresse email'
				let telNewVal = 'Téléphone'

				p_csv = p_csv.replace(mailOldVal1, mailNewVal)
				p_csv = p_csv.replace(mailOldVal2, mailNewVal)
				p_csv = p_csv.replace(telOldVal1, telNewVal)
				p_csv = p_csv.replace(telOldVal2, telNewVal)

				let file = p_csv.split('\r\n')
				let table = []
				let header = file[0].split(';')

				for(let i = 1; i < file.length; i++) {

					var obj = {}
					var currentline = file[i].split(";")

					for(let j = 0; j < header.length; j++) {
						var field = ( currentline[j] != '" "' && currentline[j] != undefined ) ? currentline[j] :  ''
						// debugger
						field = field.replaceAll('"', '')
						obj[header[j]] = field.trim()
					}
					if (currentline[0] != '') table.push(obj)
				}
				this[p_table] = table
				console.table(table)
				if (p_table == 'lots') this.tirages = table
			},
			createTickets() {
				var _tickets = []
				_.forEach(this.participants, function(line) {
					if ( line['Tarif'] != undefined ) {
						let nbTicket = line['Tarif'].replace(/[^0-9\.]+/g, '')
						nbTicket = parseInt(nbTicket, 10)
						let url = line['Url billet'].split('ticketId=')
						let params = url[1].split('&ag=')
						let ticketID = params[0]
						let i = 0
						do {
							i = i + 1
							let newLine = {'ticketID': ticketID + '-' + i, 'Nom': line['Nom'], 'Prénom': line['Prénom'], 'Email acheteur': line['Email acheteur'], 'Adresse email': line['Adresse email'], 'Téléphone': line['Téléphone'] }
							_tickets.push(newLine)
						} while (i < nbTicket)
					}
				})
				this.tickets = _tickets
				this.nbMaxTickets = this.tickets.length - 1
			},
			exportToCSV(p_table, p_filename, p_header) {
				// If JSONData is not an object then JSON.parse will parse the JSON string in an Object
				let arrData = typeof p_table != 'object' ? JSON.parse(p_table) : p_table
				let CSV = ''

				// This condition will generate the Label/Header
				if (p_header) {
					var row = ""

					// This loop will extract the label from 1st index of on array
					for (var index in arrData[0]) {
					// Now convert each value to string and comma-seprated
						row += index + ';'
					}
					row = row.slice(0, -1)
					// Append Label row with line break
					CSV += row + '\r\n'
				}

				// 1st loop is to extract each row
				for (var i = 0; i < arrData.length; i++) {
						var row = ""
						// 2nd loop will extract each column and convert it in string comma-seprated
						for (let index in arrData[i]) {
								row += '' + arrData[i][index] + ';'
						}
						row.slice(0, row.length - 1)
						// Add a line break after each row
						CSV += row + '\r\n'
				}

				// Filename
				let date = new Date()
				let timestamp = getTimeStramp()
				let filename = p_filename + '_' + timestamp + '.csv'

				let csv = CSV
				let universalBOM = "\uFEFF"
				let a = window.document.createElement('a')
				a.setAttribute('href', 'data:text/csv; charset=utf-8,' + encodeURIComponent(universalBOM+csv))
				a.setAttribute('download', filename)
				window.document.body.appendChild(a)
				a.click()

				// This trick will generate a temp "a" tag
				// let link = document.createElement("a")
				// link.id = "lnkDwnldLnk"

				// This part will append the anchor tag and remove it after automatic click
				// document.body.appendChild(link)

				// let csv = CSV
				// blob = new Blob([csv], { type: 'text/csv' })
				// let csvUrl = window.webkitURL.createObjectURL(blob)

				// File name

				// $("#lnkDwnldLnk").attr({ 'download': filename, 'href': csvUrl })

				// $('#lnkDwnldLnk')[0].click()
				// document.body.removeChild(link)
				function getTimeStramp() {
    			let today = new Date();
    			let y = today.getFullYear()
					let m = today.getMonth() < 9 ? '0' + (today.getMonth() + 1) : today.getMonth() + 1
					let d = today.getDate() < 10 ? '0' + today.getDate() : today.getDate()
					let h = today.getHours()
					let mi = today.getMinutes()
					let s = today.getSeconds()
    			return y.toString() + m.toString() + d.toString() + '_' + h.toString() + mi.toString() + s.toString()
				}
			},
			tirage() {
				this.winners = []
				
				this.lots.forEach(lot => {
					var winner = {'out': false}
					do {
						// debugger
						let index = _.random(this.nbMaxTickets)
						winner = this.tickets[index]

					} while (winner.out == true)
					winner.out = true

					this.winners.push({'IDlot': lot.ID, 'Lot': lot.Lots, 'Valeur': lot.Valeur, 'ticketID': winner['ticketID'], 'Nom': winner['Nom'], 'Prénom': winner['Prénom'], 'Email acheteur': winner['Email acheteur'], 'Adresse email': winner['Adresse email'], 'Téléphone': ' ' + winner['Téléphone'] })

				})
			}
		}
	})
</script>
</html>